.forum-view .post {
    margin-top: 2em;
}
.topic-view h1,
.forum-view .topic h2 {
    border-top: 1px solid black;
    margin-top: 0.75em;
    padding-top: 0.5em;
}
.topic-view .post {
    margin-top: 2em;
}
.post-view h1,
.topic-view .post h2 {
    border-top: 1px solid black;
    margin-top: 0.75em;
    padding-top: 0.5em;
}
